.bigdrop { /*select2 width */
    width: fit-content !important;
}


.hiddenInfoElement {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

.parentInfoElement:hover
.hiddenInfoElement {
    visibility: visible;
    font-size: smaller;
    background-color: #FCE0E0;
    border: 1px solid orangered;
    border-radius: 5px;
    opacity: 1;
}